<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring.java" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="17" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="com.annotations.taskmanager_spring.TaskManagerSpringApplication" />
    <module name="taskManager_Spring.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>